/* Home Container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  
}

/* Banner Section */
.banner-section {
  position: relative;
  width: 100%;
  height: 720px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay to Center Content */
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Banner Text */
.banner-text {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-text p {
  font-size: 1.2rem;
}

/* White Search Box */
.search-container {
  background: white;
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-width: 1000px;
  height: 80px;
}

/* Input Group */
.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 22%;
}

/* Labels Above Inputs */
.input-group label {
  font-size: 14px; /* Bigger labels */
  margin-bottom: 5px;
  color: #888; /* Slightly darker grey */
  font-weight: 500;
}

/* Text Field Styling */
.search-input {
  width: 100%;
  color: #000; /* Dark black text inside fields */
  font-size: 14px;
}

/* Extended Grey Divider */
.divider {
  width: 1px;
  height: 100%;
  background-color: lightgray;
}

/* Advanced Filters & Search Button */
.bottom-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Advanced Filters */
.advanced-filters {
  font-size: 18px;
  color: #000; /* Dark black text */
  cursor: pointer;
  font-weight: 600;

}

.advanced-filters:hover {
  text-decoration: underline;
}

/* Search Button */
.search-button {
  background-color: #27ae60 !important;
  color: white !important;
  padding: 12px !important;
  border-radius: 5px !important;
  min-width: 100px;
}

.search-button:hover {
  background-color: #219150 !important;
}
